.container-paragraph {
  background-color: hsl(0, 68%, 77%);
  box-shadow: 4px 4px 20px 1px hsla(0, 21%, 16%, 0.2);
  width: 25%;
  height: 23.5vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  word-wrap: break-word;
  border-radius: 20% 20% 3% 20%;
  position: relative;
}
.paragraph {
  color: hsl(0, 04%, 97%);
}
